<%- include('./partials/header'); %>

<body>

  <main>
    <% if (!allCards.length) { %>
      <div class="alert alert-warning" role="alert">
        <p>There are no cards in this deck yet!</p>
      </div>
    <% } else if(!cards.length){ %>
      <div class="alert alert-warning" role="alert">
        <p>You finished this session!</p>
      </div>
    <% } else{ %>
      <div class="flip-card">
        <div class="flip-card-inner">
          <!-- front of the card -->
          <div class="flip-card-front d-flex flex-column">
            <div class="card-header" id="cardHeader">
              <h3>Question</h3>
              <div class="dropdown">
                <i class="fas fa-ellipsis-h" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editCard"
                    data-id="<%= cards[index]._id%>" data-front="<%= cards[index].front%>" data-back="<%= cards[index].back%>"  data-backcode="<%= cards[index].codeCard%>"
                    data-deckid="<%= cards[index].deckId%>">
                    Edit Card
                  </button>
                  <form id="deleteCard" action="/deck/deleteCard/<%= cards[index]._id%>?_method=DELETE" method="POST">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#delete">Delete</button>
                
                  </form>
                </div>
              </div>
            </div>
              <% if (cards[index].codeCard.length) { %>
              <div class="card-body ">
               <div>
                <p class="card-title text-center">
                  <%= cards[index].front%>
                </p>
                <h5 class="card-text text-center">Take your time an answer the question</h5>
                <textarea id="studyEditor"></textarea>
               </div>
              </div>
              <div class="align-self text-center botonera">
                <button  class="btn btn-secondary align-self" id="submitAnswer" data-backcode="<%= cards[index].codeCard%>"  >Submit Answer</button>
              </div>
              
                <% } else{ %>
                  <div class="card-body text-center">
                  <div>
                    <h5 class="card-title">
                      <%= cards[index].front%>
                    </h5>
                  </div>
                </div>
                  <div class="align-self text-center botonera">
                    <button class="btn btn-secondary " id="answer">Reveal Answer</button>
                  </div>
                  <% } %>
          </div>
          <div class="flip-card-back text-center d-flex flex-column">
            <div class="card-header">
              <h3><%= cards[index].front%></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Answer</h5>
              <% if (cards[index].codeCard.length) { %>
                <div id="answerMatch"></div>
                <div id='cardAnswer' class="text-left" data-mirror="<%= cards[index].mirror%>"> </div>
              <% } else{ %>
                  <p class="card-title"><%= cards[index].back%></p>
              <% } %>
            </div>
            <div id="buttons" class="align-self botonera"   data-deckid="<%= cards[index].deckId%>" data-id="<%= cards[index]._id%>" data-responses="<%= cards[index].responses%>" data-date="<%= cards[index].studyDate%>" >
              <button value="repeat"   class="btn btn-primary next" ><small>< 1 min</small><br>Repeat</button>
              <button value="hard"   class="btn btn-primary next" ><small>< <%= cards[index].hard%></small><br>Hard</button>
              <button value="good"  class="btn btn-primary next" ><small>< <%= cards[index].good%></small><br>Good</button>
              <button value="easy"   class="btn btn-primary next" ><small>< <%= cards[index].easy%></small><br>Easy</button >
            </div>
          </div>
          </div>  
        </div>
      </div>
    <% } %>
 </main>
  <script src="/client/codeEditor.js"></script>
  <%- include('./partials/modals'); %>
  <script src="/client/study.js"></script>
  <%- include('./partials/footer'); %>
  
</body>