 
 
  
    <%- include('./partials/header'); %>
 
    <ul>
        <% for(var i=0; i<cards.length; i++) {%>
            <li>
                <span>
                    <%= i + 1%>
                </span>
                <span>
                   front: <%= cards[i].front%>
                </span>
                <span>
                    Back: <%= cards[i].back%>
                 </span>
            </li>
            <% } %>
    </ul>
    <%- include('./partials/footer'); %>