<%- include('./partials/header'); %>


<body>
  <% if (!cards.length) { %>
    <div class="alert alert-warning" role="alert">
     There are no cards in this deck yet!
    </div>
  <% } else{ %>
     
   
    <main>
      <div class="flip-card">
        <div class="flip-card-inner">
          <!-- front of the card -->
          <div class="flip-card-front">
            <div class="card-header" id="cardHeader">
              <h3>Question</h3>
              <div class="dropdown">
                <i class="fas fa-ellipsis-h" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button type="button" class="dropdown-item" data-toggle="modal" data-target="#editCard"
                    data-id="<%= cards[index]._id%>" data-front="<%= cards[index].front%>" data-back="<%= cards[index].back%>"  data-backcode="<%= cards[index].codeCard%>"
                    data-deckid="<%= cards[index].deckId%>">
                    Edit Card
                  </button>
                  <form id="deleteCard" action="/deck/deleteCard/<%= cards[index]._id%>?_method=DELETE" method="POST">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#delete"> Delete</button>
                
                  </form>
                </div>
              </div>
            </div>
            <div class="card-body">
            

              <% if (cards[index].codeCard.length) { %>
                <h5 class="card-title">
                  <%= cards[index].front%>
                </h5>
                <p class="card-text">Take your time an answer the question</p>
                <textarea id="studyEditor"></textarea>
                <button id="submitAnswer" data-backcode="<%= cards[index].codeCard%>"   class="btn btn-secondary">Submit Answer</button>
                <!-- <button class="btn btn-secondary" id="answer">Reveal Answer</button> -->
                <% } else{ %>
                  <h5 class="card-title">
                    <%= cards[index].front%>
                  </h5>
                  <button class="btn btn-secondary" id="answer">Reveal Answer</button>
                  <% } %>
             </div>
          </div>
          <div class="flip-card-back text-center ">
            <div class="card-header">
              <h3><%= cards[index].front%></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title">Answer</h5>
    
              <% if (cards[index].codeCard.length) { %>
                <div id="answerMatch"></div>
                <div id='cardAnswer' class="text-left" data-mirror="<%= cards[index].mirror%>"> </div>
              <% } else{ %>
                  <p class="card-title"><%= cards[index].back%></p>
       
              <% } %>
    
        
                <a href="/study/<%= cards[index].deckId%>"  class="btn btn-primary next" >Repeat</a>
                <a href="/study/<%= cards[index].deckId%>"  class="btn btn-primary next" >Hard</a>
                <a href="/study/<%= cards[index].deckId%>"  class="btn btn-primary next" >Good</a>
                <a href="/study/<%= cards[index].deckId%>"  class="btn btn-primary next" >Easy</a >

           
                

               
            </div>
          </div>
          </div>  
        </div>
      </div>
    </main>
  <% } %>
  
  
  <script src="/codeEditor.js"></script>
  <%- include('./partials/modals'); %>
  <script src="/study.js"></script>
  <%- include('./partials/footer'); %>
</body>